#!/usr/bin/env bash

{{ template "vscode-extensions.tmpl" . }}
{{ template "vscode-settings.tmpl" . }}

set -eo pipefail


# Apply VSCode settings
apply_settings {{ .chezmoi.homeDir }}/Library/Application\ Support/Code/User/

# Install VSCode extensions
install_extensions
