packages:
- name: cli/cli@v2.85.0
- name: dandavison/delta@0.18.2
- name: junegunn/fzf@v0.67.0
- name: mike-engel/jwt-cli@6.2.0
- name: mikefarah/yq@v4.50.1
- name: jqlang/jq@jq-1.8.1
- name: neovim/neovim@v0.11.5
- name: go-task/task@v3.46.4
- name: pre-commit/pre-commit@v4.5.1
