{{- if .toolchains.kubernetes }}
packages:
- name: ahmetb/kubectx@v0.9.5
- name: ahmetb/kubectx/kubens@v0.9.5
- name: derailed/k9s@v0.32.6
- name: derailed/popeye@v0.21.5
- name: helm/helm@v3.16.3
- name: helmfile/helmfile@v0.169.1
- name: hidetatz/kubecolor@v0.0.25
- name: kubernetes-sigs/kustomize@kustomize/v5.5.0
- name: kubernetes/kubectl@v1.31.2
- name: loft-sh/devpod@v0.6.0
- name: stern/stern@v1.31.0
- name: kubernetes-sigs/kind@v0.25.0
- name: yannh/kubeconform@v0.6.7
{{- end -}}
