{{- if .toolchains.kubernetes }}
packages:
- name: ahmetb/kubectx@v0.9.5
- name: ahmetb/kubectx/kubens@v0.9.5
- name: derailed/k9s@v0.40.6
- name: derailed/popeye@v0.22.1
- name: helm/helm@v3.17.1
- name: helmfile/helmfile@v0.171.0
- name: hidetatz/kubecolor@v0.0.25
- name: kubernetes-sigs/kustomize@kustomize/v5.6.0
- name: kubernetes/kubectl@v1.32.2
- name: loft-sh/devpod@v0.6.14
- name: stern/stern@v1.32.0
- name: kubernetes-sigs/kind@v0.27.0
- name: yannh/kubeconform@v0.6.7
{{- end -}}
