{{- if .toolchains.ops }}
packages:
- name: nektos/act@v0.2.69
- name: argoproj/argo-cd@v2.13.0
- name: hashicorp/vault@v1.18.1
- name: aquasecurity/trivy@v0.57.0
- name: open-policy-agent/opa@v0.70.0
- name: fullstorydev/grpcurl@v1.9.1
- name: homeport/dyff@v1.9.3
- name: grafana/grizzly@v0.6.1
{{- end -}}
