{{- if .toolchains.ops }}
packages:
- name: nektos/act@v0.2.87
- name: argoproj/argo-cd@v3.3.8
- name: hashicorp/vault@v1.21.4
- name: aquasecurity/trivy@v0.70.0
- name: open-policy-agent/opa@v1.15.2
- name: fullstorydev/grpcurl@v1.9.3
- name: homeport/dyff@v1.11.4
{{- end -}}
