{{- if .toolchains.ops }}
packages:
- name: nektos/act@v0.2.66
- name: argoproj/argo-cd@v2.12.3
- name: hashicorp/vault@v1.17.5
- name: aquasecurity/trivy@v0.55.0
- name: open-policy-agent/opa@v0.68.0
- name: fullstorydev/grpcurl@v1.9.1
- name: homeport/dyff@v1.9.0
- name: grafana/grizzly@v0.4.8
{{- end -}}
