{{- if not .interactive -}}
#!/usr/bin/env bash

if command -v script >/dev/null && [[ ! -d "${HOME}/.cache/gitstatus" ]]; then
  echo "Initializing ZSH"
  bash -e <<'EOF' >/dev/null
cd '{{ .chezmoi.workingTree }}'

# We also need to emulate a TTY
script -qec "zsh -is </dev/null" /dev/null
EOF
fi

Z4H_BOOTSTRAPPING=1 exec zsh && exit 0
{{- end -}}
