{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $toolchains := dict
  "aws" false
  "docker" false
  "golang" true
  "iac" false
  "kubernetes" false
  "node" true
  "python" false
  "ops" false -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $distro := dict "family" .chezmoi.os "id" (get .chezmoi.osRelease "id" | default .chezmoi.os) -}}
{{- if or (eq $distro.id "arch") (eq $distro.id "archarm") -}}
{{- $_ := set $distro "id" "archlinux" -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode" "devcontainer") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "barrydobson-aarch64-darwin" -}}
{{-     $hostname = "TDCO00290" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "TDCO00290" -}}
{{-     $personal = false -}}
{{-     $headless = false -}}
{{-     $ephemeral = false -}}
{{-   else if eq $hostname "ubuntu" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $toolchainsEnabled := dict }}
{{- range $toolchain, $default := $toolchains }}
    {{- $withoutToolchains := (eq (env "WITHOUT_TOOLCHAINS") "true") -}}
    {{- $withoutToolchain := eq (env (list "WITHOUT" (upper $toolchain) | join "_")) "true" -}}

    {{- $withToolchains := (eq (env "WITH_TOOLCHAINS") "true") -}}
    {{- $withToolchain := (eq (env (list "WITH" (upper $toolchain) | join "_")) "true") -}}

    {{- $explicitWithout := or $withoutToolchains $withoutToolchain -}}
    {{- $explicitWith := or $withToolchains $withToolchain -}}

    {{- $chainEnabled := $default -}}

    {{- if $explicitWith -}}
    {{- $chainEnabled = true -}}
    {{- else if $explicitWithout -}}
    {{- $chainEnabled = false -}}
    {{- end -}}

    {{- $_ := set $toolchainsEnabled $toolchain $chainEnabled }}

{{- end -}}

{{- if (env "OP_SERVICE_ACCOUNT_TOKEN") }}
onepassword:
  mode: service
{{- end }}
{{- if lookPath "delta" }}
diff:
  pager: delta
{{- end }}
data:
  gpg_keyid: DF808E7FF90BF7D8
  headless: {{ $headless }}
  hostname: {{ $hostname }}
  personal: {{ $personal }}
  ephemeral: {{ $ephemeral }}
  osid: {{ $osID}}
  arch: {{ .chezmoi.arch }}
  home: {{ .chezmoi.homeDir }}
  source: {{ .chezmoi.sourceDir }}
  interactive: {{ stdinIsATTY }}
  distro:
    family: {{ $distro.family }}
    id: {{ $distro.id }}
  git:
    name: op://work/git_user/name
    email: op://work/git_user/email
    signingKey: op://work/github_signing_key/public key
    signingFormat: ssh
    {{- if eq $osID "darwin" }}
    signingProgram: /Applications/1Password.app/Contents/MacOS/op-ssh-sign
    {{- end }}
  toolchains:
    {{- range $toolchain, $enabled := $toolchainsEnabled }}
      {{ $toolchain}}: {{ $enabled }}
    {{- end }}
