{{- if .toolchains.golang -}}
golang 1.24.4
{{- end -}}
{{- if .toolchains.iac }}
terraform 1.12.2
terragrunt 0.81.3
{{- end -}}
{{- if .toolchains.node }}
nodejs 24.2.0
pnpm 10.12.1
{{- end -}}
{{- if .toolchains.python }}
python 3.12.5
{{- end -}}
direnv 2.36.0
