#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.config/shell/exports.sh

{{- $compDir:= joinPath .home ".config/zsh/completions" }}

if [ "$(command -v op)" ]; then
  op completion zsh > "{{ $compDir }}/_op"
fi

if [ "$(command -v kubectl)" ]; then
  kubectl completion zsh | sed 's/kubectl/kubecolor/g' > "{{ $compDir }}/_kubecolor"
fi

if [ "$(command -v popeye)" ]; then
  popeye completion zsh > "{{ $compDir }}/_popeye"
fi

if [ "$(command -v stern)" ]; then
  stern --completion zsh > "{{ $compDir }}/_stern"
fi

if [ "$(command -v yq)" ]; then
  yq shell-completion zsh > "{{ $compDir }}/_yq"
fi
