[user]
  name = "{{ onepasswordRead .git.name }}"
  email = "{{ onepasswordRead .git.email }}"
  {{- if .git.signingKey }}
  signingKey = "{{ onepasswordRead .git.signingKey }}"
  {{- end }}

[credential]
{{ if (eq .osid "darwin") -}}
  helper = osxkeychain
{{ else -}}
  helper = store
{{- end }}

[commit]
  {{ if .git.signingKey -}}
  gpgsign = true
  {{ else -}}
  gpgsign = false
  {{ end -}}

{{- if and (.git.signingKey) (eq .git.signingFormat "ssh") }}
[gpg]
  format = ssh

{{- if (hasKey .git "signingProgram") }}
[gpg "ssh"]
  program = {{ .git.signingProgram }}
{{- end }}
{{- end }}
